/*top section*/

#project_info {
  background-color: #304754;
  padding-bottom: 60px;
  width: auto;
  margin: 0 auto;
  text-align: center;
}
#project_info .headings {
  color: #79c0a9;
  font-size: 2.5em;
  padding-top: 100px;
  margin-top: 0;
  font-weight: 200;
}
.project_info {
  width: 275px;
  padding: 10px 20px 0;
  display: inline-block;
  color: #FFFFFF;
}
.project_info h1 {
  text-align: center;
  font-size: 1em;
  font-weight: 400;
}
.project_info ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-weight: 300;
  line-height: 1.5em;
}
.project_info li {
  margin: 0 0 1.5em 0;
}
.project_info p {
  text-align: center;
  font-weight: 300;
  font-size: 0.75em;
  padding-top: 30px;
  margin-bottom: 0;
  padding-right: 2%;
}

.project_info a:link {
  text-decoration: none;
  color: #79c0a9;
}
.project_info a:visited {
  text-decoration: none;
  color: #79c0a9;
}
.project_info a:hover {
  text-decoration: none;
  color: #d98053;
}
.project_info a:active {
  text-decoration: none;
  color: #79c0a9;
}
.portfolio-button{
  display: inline-block;
  padding: .6em 1em;
  background: #232829;
  border: 0;
  margin: 5px;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
}

.project_divider {
  display: block;
  margin: 0 auto;
  width: 90%;
  border-bottom: 1px solid #d98053;
  padding-top: 10px;
}
.project_image {
  height: 100%;
  border: 1px solid #79c0a9;
  display: inline-block;
  padding: 1% 1% 0.6%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  margin: 30px 5% 0;
}
.project_image img {
  width: 100%;
}
.project_video {
  border: 1px solid #79c0a9;
  margin: 30px 5% 0;
  padding: 2% 2%;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.video_container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.video_container iframe, .video_container object, .video_container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media only screen and (min-width: 480px) {
  .project_info {
    width: 400px;
  }
}


/*@media (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
  #project_info .headings {
    font-weight: 300;
  }
}*/

@media only screen and (min-width: 650px) {
  .project_info {
    width: 450px;
    padding: 10px 30px 0 30px;
  }
  .int_arch_text {
    width: 355px;
  }
  .project p {
    text-align: right;
  }
  .project_info h1 {
    text-align: left;
  }
  .project_info ul {
    text-align: left;
  }
  .project_image {
    margin: 30px 10% 0;
  }
  .project_video {
    margin: 30px 10% 0;
    padding: 1% 1%;
  }
  .project_divider {
    width: 80%;
  }
}
@media only screen and (min-width: 1047px) {
  .project_divider {
    width: 75%;
  }
  .project_video {
    margin: 30px 12% 0;
    padding: 1% 1%;
  }
}
@media only screen and (min-width: 1211px) {
  .project_divider {
    width: 72%;
  }
  .project_video {
    margin: 30px 15% 0;
    padding: 1% 1%;
  }
}
@media only screen and (min-width: 1351px) {
  .project_divider {
    width: 62%;
  }
  .project_video {
    margin: 30px 20% 0;
    padding: 1% 1%;
  }
}
